rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    match /{document=**} {
      allow read:if request.auth.uid=="oKk8Usum7vexqYqTGLqYR6oXZGp1" ||
                    request.auth.uid=="TpMm90xWH3W5Nzv9cCs6kvcTLi83" ||
                    request.auth.uid=="E0RtRFvSNqVSMJ5R8cmcz2S5I3o2" ||
                    request.auth.uid=="P57SmLdXMUg225TXbsNSsXibgGm2" ||
                    request.auth.uid=="l1I6rTExCUY1gphoO11o3Fr1nOe2" ||
                    request.auth.uid=="5zNNlljcTMd7PLVd5dNh8ZRCxS62" ||
                    request.auth.uid=="NpjoQHny4xblT6XoLVrhTmazDap1" ||
                    request.auth.uid=="EH6g7lTMVqSsqGXTHpiC9CjzUPg1" ||
                    request.auth.uid=="Tln4xcERqBYUMgQK5otzmjjALTx2" ||
                    request.auth.uid=="gKnwJEwcbqZbmSTZOaIMmmH2atG3" ||
                    request.auth.uid=="EdaXiG67BpXvEjNzW1gPGo2yi883" ||
                    request.auth.uid=="vIDI7VkgJFdEpZV7nLWNst7tzke2" ;
      allow write: if request.auth.uid=="oKk8Usum7vexqYqTGLqYR6oXZGp1" ||
                    request.auth.uid=="E0RtRFvSNqVSMJ5R8cmcz2S5I3o2" ||
                    request.auth.uid=="P57SmLdXMUg225TXbsNSsXibgGm2" ||
                    request.auth.uid=="l1I6rTExCUY1gphoO11o3Fr1nOe2" ||
                    request.auth.uid=="5zNNlljcTMd7PLVd5dNh8ZRCxS62" ||
                    request.auth.uid=="NpjoQHny4xblT6XoLVrhTmazDap1" ||
                    request.auth.uid=="EH6g7lTMVqSsqGXTHpiC9CjzUPg1" ||
                    request.auth.uid=="Tln4xcERqBYUMgQK5otzmjjALTx2" ||
                    request.auth.uid=="gKnwJEwcbqZbmSTZOaIMmmH2atG3" ||
                    request.auth.uid=="EdaXiG67BpXvEjNzW1gPGo2yi883" ||
                    request.auth.uid=="vIDI7VkgJFdEpZV7nLWNst7tzke2" ;
    }
  }
}
