$rem: 16px;
$gtr: ($gutter * 1px);
$size-container: ($rem * 4.5 * 12) + ($gutter * 11) + ($gutter * 2);
$header-height: 0;
$header-height-sp: 0;

$size-col: (
  1: calc(100% / 12 - 0.01px),
  2: calc(100% / 6 - 0.01px),
  3: 25%,
  4: calc(100% / 3 - 0.01px),
  5: calc(100% / 2.4 - 0.01px),
  6: 50%,
  7: calc(100% / 12 * 7 - 0.01px),
  8: calc(100% / 1.5 - 0.01px),
  9: 75%,
  10: calc(100% / 1.2 - 0.01px),
  11: calc(100% / 12 * 11 - 0.01px),
  12: 100%
);

@mixin col($v) {
  //-ms-flex: 0 $v;
  flex-grow: 0;
  flex-shrink: 0;
  flex-basis: map-get($size-col, $v);
  max-width: map-get($size-col, $v);
  //@include mediaquery-not-sm {
  //  padding: 0.75rem;
  //}
  //@include mediaquery-sm {
  //  padding: 0.25rem 0.5rem;
  //}
}

@mixin font-style() {
  font-family: 'Lexend Zetta', YakuHanJP_Noto, 'Noto Serif JP', sans-serif;
  //font-weight: 500;
}

$spacer: 1rem !default;
$tick: 0.4s;

@import "color";
@import "screen";
@import "mediaquery";
@import "zindex";
@import "ease";
@import "shadow";
@import "icon";

$skew: 13.5deg;
$skew2: 20deg;

$box-shadow-sm: 0 .125rem .25rem rgba($color-black, .075) !default;
$box-shadow: 0 .5rem 1rem rgba($color-black, .15) !default;
$box-shadow-lg: 0 1rem 3rem rgba($color-black, .175) !default;
