@use "sass:math";

.row {
  display: flex;
  flex-wrap: wrap;
  gap: $gap $gap;

  > .col {
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
  }

  @for $i from 1 through 12 {
    $gapT: $gap*11;
    $n: math.div($i, 12);
    > .col-#{$i} {
      width: getColSize($i);
    }

  }
}

@include mediaquery-sm {
  .row {
    @for $i from 1 through 12 {
      > .col-sm-#{$i} {
        width: getColSize($i);
      }
    }
  }
}
