input[type="text"],input:not([type]),
input[type="number"],
textarea, select {
  border-radius: 10px;
  padding: 0.5rem;
  border: 1px solid $color-border;
  line-height: 1.5;
}

input[type="text"],input:not([type]),
input[type="number"],
textarea {
  display: block;
  width: 100%;
}

textarea{
  height: 180px;
}
