.border {
  border: 1px solid $color-border;
  padding: 1rem;
  > *:last-child {
    margin-bottom: 0;
  }
}

.text {
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
}
