@import "variables/index";
@import "reboot-custom";
@import "grid";
@import "animation";
@import "font-style";
@import "button-style";

.isPc {
  @include mediaquery-sm {
    display: none !important;
  }
}

.isSp {
  @include mediaquery-not-sm {
    display: none !important;
  }
}

.container {
  margin-left: auto;
  margin-right: auto;
  @include mediaquery-not-sm {
    padding-left: $gutter + 0px;
    padding-right: $gutter + 0px;
    max-width: $size-container;
  }
  @include mediaquery-sm {
    padding-left: $gutter + 0px;
    padding-right: $gutter + 0px;
  }
}
