// Color system
$color-white: #fff !default;
$color-gray-100: #f8f9fa !default;
$color-gray-200: #EBE8E4 !default;//xdからとった
$color-gray-300: #dee2e6 !default;
$color-gray-400: #A09B97 !default;//xdからとった
$color-gray-500: #98938E !default;//xdからとった
$color-gray-600: #707070 !default;//xdからとった
$color-gray-700: #403B36 !default;//xdからとった
$color-gray-800: #333333 !default;
$color-gray-900: #212529 !default;
$color-black: #000 !default;

$color-blue: #007bff !default;
$color-indigo: #6610f2 !default;
$color-purple: #6f42c1 !default;
$color-pink: #e83e8c !default;
$color-red: #D84B4B !default;//xdからとった
$color-orange: #fd7e14 !default;
$color-yellow: #d8c24b !default;
$color-green: #789529 !default;//xdからとった
$color-teal: #269B8F !default;
$color-cyan: #17a2b8 !default;

$color-primary: $color-blue !default;
$color-secondary: $color-gray-600 !default;
$color-success: $color-green !default;
$color-info: $color-cyan !default;
$color-warning: $color-yellow !default;
$color-danger: $color-red !default;
$color-light: $color-gray-100 !default;
$color-dark: $color-gray-800 !default;

// semantic name
$color-key: #8CBCBF;
$color-key2: #B48362;

$color-border: $color-gray-400;
$color-border-light: $color-gray-200;
$color-border-alpha: rgba($color-black, .1);

$color-text-black: $color-gray-700;
$color-text-white: $color-white;
$color-text: $color-text-black;

$color-attention: $color-red;
$color-link: $color-blue;
$color-modal-bg: rgba($color-black, .5)


