// icon
@mixin _icon() {
  font-family: "fontello", serif;
  font-style: normal;
  font-weight: normal;
  speak: none;
}

@mixin icon-arrow-down-circle {
  @include _icon;
  content: "\e800";
}
@mixin icon-arrow-down {
  @include _icon;
  content: "\e801";
}
@mixin icon-arrow-left-circle {
  @include _icon;
  content: "\e802";
}
@mixin icon-arrow-left {
  @include _icon;
  content: "\e803";
}
@mixin icon-arrow-right-circle {
  @include _icon;
  content: "\e804";
}
@mixin icon-arrow-right {
  @include _icon;
  content: "\e805";
}
@mixin icon-arrow-up-circle {
  @include _icon;
  content: "\e806";
}
@mixin icon-arrow-up {
  @include _icon;
  content: "\e807";
}
@mixin icon-blank {
  @include _icon;
  content: "\e808";
}
@mixin icon-facebook {
  @include _icon;
  content: "\e809";
}
@mixin icon-twitter {
  @include _icon;
  content: "\e80a";
}

@mixin cross($w, $h, $color, $deg, $noPosition) {
  &:before,
  &:after {
    content: "";
    display: inline-block;
    position: absolute;
    background-color: $color;
    width: $w;
    height: $h;
    @if $noPosition==false {
      top: 50%;
      left: 50%;
    }
    @content;
  }
  & {
    @include _icon;
    transform: translateX(-50%) rotate($deg);
  }
  &:after {
    transform: translateX(-50%) rotate($deg + 90deg);
  }
}
